#blue{
  color: blue;
  text-align: center;
}

#profilePicture{
  width: 150px;
  height: 150px;
  opacity: 0.6;
}

#largeButton{
  padding: 15px;
  color: orange;
}

body{
    background-color: red;
}
